<div class="container">
  <div class="user-details">
    <h3> Who am I </h3>
    <p>Innovated and motivated software development engineer, with three years of experience in object-oriented design, deep
      knowledge of data structure and algorithms, hands-on experience on web development. </p>
    <p>My detailed expertise can be found in <a class="link" href="{{site.url}}/resume">Resume</a></p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h5>Code</h5>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
    </div>
    <div class="four columns">
      <h5>Frameworks</h5>
      <i class="devicon-nodejs-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-django-plain colored"></i>
    </div>
    <div class="four columns">
      <h5>Tools</h5>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
    </div>
  </div>
</div>