<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="code" src="{{ "/assets/img/cloudline-constructor.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Twitter Visualizer </h5>
      <li> Skills: D3.js, Pubnub API</li>
      <p>A tool of visualizing streaming twitter data by cloudline technique, which can be extended to visualize any time series data. Cloudline is meant to aggregate data by time and thus tell the difference in density.</p>
      <a class="project-link" href="https://zhuwhr.github.io/cloudline-constructor/">Demo</a> <a class="project-link" href="https://github.com/zhuwhr/cloudline-constructor">Source Code</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="code" src="{{ "/assets/img/coming_soon.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Snippetaas (Pending) </h5>
      <li> Skills: Node.js, Express, Sequelize, Postgresql</li>
      <p>Snippet as a service. Aim to help programmers resue snippets. Currently building backend system in PostgreSQL - Sequelize - Node - Express - GraphQL tech stack.</p>
      <a class="project-link" href="https://github.com/zhuwhr/react-toolchain">Source Code</a>
    </div>
  </div>
    <div class="row user-projects">
    <div class="six columns images">
      <img alt="code" src="{{ "/assets/img/monitor.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Breaking news monitor </h5>
      <li> Skills: JavaScript, D3.js, Elastic Search</li>
      <p>A live monitoring system that captures articles from millions public websites. By looking at the dashboard, we can figure out if there are breaking news on an industry or a company, as well as good/bad news based on its sentiment. </p>
      <a class="project-link" href="https://github.com/zhuwhr/streaming-data-visualization">Source Code</a>
    </div>
  </div>
</div>
